.modules {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 5%;
    overflow: hidden;
}

.card {
    margin-top: 0.5rem;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
    /* Aumenta el tamaño de la tarjeta al hacer hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Agrega una sombra suave */
}

.card-title {
    text-align: center;
}

.card-img-top img-fluid {
    max-width: 12rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black;
    /* Color de fondo de las flechas */
    border: 2px solid white;
    /* Borde blanco alrededor de las flechas */
}