<div class="page-wrapper flex-grow-1">
    <div class="row flex-grow-1">
        <app-section-tabs [tabs]="dynamicTabs"></app-section-tabs>
    </div>
    <div class="tab-content">
        <ng-container *ngIf="(activeTabService.activeIndex$ | async) === 0">
            <!-- Contenido dinámico de la pestaña 1 -->
            <div class="row flex-grow-1">
                <app-dynamic-form-steps [formInputs]="customerInputsForm" [steps]="steps"
                    [service]="this.companyService" serviceMethod="saveCompany"></app-dynamic-form-steps>
            </div>
        </ng-container>

        <ng-container *ngIf="(activeTabService.activeIndex$ | async) === 1">
            <!-- Contenido dinámico de la pestaña 2 (Seguridad) -->
            <div class="row flex-grow-1">

                <div class="row flex-grow-1">
                    <app-table *ngIf="tableData !== null" [data]="tableData"></app-table>
                </div>
            </div>

        </ng-container>

        <!-- Agrega más ng-container para más pestañas según sea necesario -->

    </div>


</div>