@defer{
<form [formGroup]="form" (ngSubmit)="onSubmit()" class="rounded-form">
  <div class="row">
    <div *ngFor="let input of formInputs; let i = index" [class]="class">
      <div class="form-group">
        <label for="{{ input.formControlName }}"><strong> {{ input.label }}</strong></label>
        <ng-container *ngIf="input.type !== 'select' && input.type !== 'datalist' && input.type !== 'file'">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" [ngClass]="getErrorClasses(input.formControlName)">
                <fa-icon *ngIf="input.icon" [icon]="input.icon"></fa-icon>
              </span>
            </div>
            <input [type]="input.type" [formControlName]="input.formControlName" id="{{ input.formControlName }}"
              class="form-control" [ngClass]="getErrorClasses(input.formControlName)" autocomplete="off"
              [maxlength]="getMaxLength(input.maxLength, input.dependencyFormControlName)"
              [minlength]="getMinLength(input.minLength, input.dependencyFormControlName)"
               (blur)="onLoadInput(input)"
              (keypress)="onKeyPress(input,$event)" />
          </div>
        </ng-container>
        <ng-container *ngIf="input.type === 'select' && input.design !== 'checkbox'">
          <div class="input-group">
              <div class="input-group-prepend">
                  <span class="input-group-text"
                      [ngClass]="getErrorClasses(input.formControlName)">
                      <fa-icon *ngIf="input.icon" [icon]="input.icon"></fa-icon>
                  </span>
              </div>
              <select [ngClass]="getErrorClasses(input.formControlName)"
                  class="form-control" formControlName="{{ input.formControlName }}"
                  (change)="onSelectChange(input, $event.target.value)">
                  <option value="" [disabled]="true">Seleccione</option>
                  <option *ngFor="let option of input.options" [value]="option.id">{{
                      option.description }}
                  </option>
              </select>
          </div>
      </ng-container>
        <ng-container *ngIf="input.type === 'select' && input.design == 'checkbox'">
          <div class="rounded-select" style="display: flex; flex-wrap: wrap; overflow-y: auto; max-height: 200px;">
            <div *ngFor="let option of input.options; let j = index"
              style="flex: 0 0 33.33%; box-sizing: border-box; padding: 5px;">
              <input type="checkbox" [formControlName]="input.formControlName" [value]="option"
                id="{{ input.label + option }}" class="form-check-input" style="margin-right: 5px;" />
              <label for="{{ input.label + option }}" class="form-check-label">{{ option }}</label>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="input.type === 'datalist'">
          <div class="form-group" [formGroup]="form" formArrayName="{{ input.label }}">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <fa-icon *ngIf="input.icon" [icon]="input.icon"></fa-icon>
                </span>
              </div>
              <!-- <div id="myCustomSelectContainer" class="card-body">
                <app-custom-multiselect #customMultiselect [options]="input.options"
                  [(selectedOptions)]="selectedOptions"></app-custom-multiselect>
              </div> -->
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="input.type === 'file'">
          <div class="input-group">
            <input class="form-control" [ngClass]="getErrorClasses(input.formControlName)" id="formFileSm" type="file">
          </div>
          <!-- Nuevo bloque para mostrar la imagen -->
          <div *ngIf="input.imageData" class="uploaded-image-container">
            <img [src]="input.imageData" alt="Uploaded Image">
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</form>
}